*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.nav{
    width: 99%;
    margin: 10px 10px;

    text-align: center;
}
.nv ul{
    list-style: none;

}
.nav ul li{
    display: inline-block;
    padding: 10px 15px;
    position: relative;
    border: none;
    margin: 5px;
    background-color: blue;
    border-radius: 5px;

}
.nav ul li a{
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: rgb(241, 237, 237);
    text-transform: uppercase;
    text-align: center;
}
.nav ul li .sub{
    position:absolute;
    display: none;
    text-align: center;
    right: 2px;
    padding-top: 10px;
    transition: display 5s ease-in;
}
.sub li{
    display: block;
    
}
.nav li .sub li{
    
    border-radius: 3px;
    border: none;
}
.nav ul li:hover{
    background-color: rgb(12, 12, 46);
    
}
.nav ul li a:hover{
    color: red;
}
.nav ul li:hover .sub{
    display: block;
}